# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Retry3D.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Projects\Retry3D\.idea\.idea.Retry3D\.idea/dataSources/
/dataSources.local.xml
